.panel
	span.panel--message Бесплатная доставка вашего заказа от 3000 рублей #[i.panel--close]
header.header
	.header__row
		span.menu-open
		a.header--logo(href='javascript:void(0);')
		nav.nav
			.nav__row
				a(href='javascript:void(0);') Главная
				a.is-red(href='javascript:void(0);') Update
				a.is-blue(href='javascript:void(0);') Ombrage
				a(href='javascript:void(0);') Преимущества
				a(href='javascript:void(0);') Доставка и оплата
		a.header--basket(href='javascript:void(0);')
			span 5
			svg(width='40', height='40')
				use(xlink:href='#basket')