doctype html
html(lang='ru')
	title Lavant
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	body(align='center')
		ol(style='display:inline-block;width:290px;font-size:20px;line-height:30px;text-align:left')
			li
				a(href='./index.html') Главная
			li
				a(href='./card.html') Карточка товара
			li
				a(href='./basket.html') Корзина
			li
				a(href='./delivery.html') Оплата и доставка
			li
				a(href='./benefits.html') Преимущества