doctype html
html(lang='ru')
	title Lavant
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	link(href='./css/style.css', rel='stylesheet')
	body
		include img/svg-icons.svg
		.wrapper
			include modules/header.pug
			.card
				.card__row
					.card__content
						.breadcrumbs.breadcrumbs_blue
							li
								a(href='javascript:void(0);') Главная
							li
								span Mask
						i.card--logo.card--logo_blue.card--logo_ombrage
						span.card--title.card--title_blue Mask
						.card__icons.card__icons_blue
							i.card--icon
								svg(width='32', height='32')
									use(xlink:href='#sun')
							i.card--icon
								svg(width='20', height='30')
									use(xlink:href='#water')
							i.card--icon
								svg(width='16', height='28')
									use(xlink:href='#e')
							i.card--icon
								svg(width='20', height='30')
									use(xlink:href='#water-filled')
					.card--pic.card--pic_left.mobile-hide
						img(src='./pic/card-1.jpg', width='812', height='649', alt='')
					.card--pic.card--pic_right
						img(src='./pic/card-2.jpg', width='812', height='649', alt='')
					.card__controls
						.card__button
							span.card--price.card--price_blue 2890 р.
							span.button.button_blue.button_basket.button_mini
							i.card__button--bg.card__button--bg_blue
			.about
				.about__row
					.about__lc
						.about__content
							span.about--title Почему она вам понравится
							p Маска специально разработана для слабых, поврежденных, тонких и ослабленных волос. Она содержит инновационные, и природные ингредиенты, которые в комплексе придают прядям упругость, здоровый блеск, обеспечивают эластичность, запускают процесс обновления клеток с первого применения.
							p Активные компоненты глубоко проникают в волосы и кожу головы, заполняя пористые участки и выравнивая поверхностный слой чешуек.
							p Маска не содержит парабенов и SLS, прекрасно увлажняет и насыщает локоны витаминами и кислородом, также благоприятно воздействуя на кожный покров, укрепляя и восстанавливая структуру волос, заполняет пористые участки, выравнивает поверхностный слой чешуек.
					.about__rc
						.about-item.about-item_discount
							span.about-item--title #[span 15%] Скидка
							span.about-item--subtitle На все BEAUTY BOX
						.about-item.about-item_delivery
							span.about-item--title Бесплатная доставка
							span.about-item--subtitle При заказе от 3000 рублей
			span.title-bg
				span Состав
			.articles
				.articles__row
					.articles__item
						i.articles--icon.articles--icon_blue
							include img/molecule-2-icon.svg
						span.articles--title Креатин - укрепление волос
						p Маска специально разработана для слабых, поврежденных, тонких и ослабленных волос. Она содержит инновационные, и природные ингредиенты, которые в комплексе придают прядям упругость, здоровый блеск, обеспечивают эластичность, запускают процесс обновления клеток с первого применения.
						p Активные компоненты глубоко проникают в волосы и кожу головы, заполняя пористые участки и выравнивая поверхностный слой чешуек.
						p Маска не содержит парабенов и SLS, прекрасно увлажняет и насыщает локоны витаминами и кислородом, также благоприятно воздействуя на кожный покров, укрепляя и восстанавливая структуру волос, заполняет пористые участки, выравнивает поверхностный слой чешуек.
					.articles__item
						i.articles--icon.articles--icon_blue
							include img/prebiotic-icon.svg
						span.articles--title Пребиотики - питательные вещества
						p Комплекс веществ, которые благоприятно влияют на функционирование полезной микрофлоры.
						p Они служат питательным веществом для полезных микроорганизмов и подавляют рост патогенных.
						p Пребиотики регенерируют клетки помогают устранить воспалительные процессы, не позволяют появляться ощущению сухости и стянутости, также помогают организму противостоять инфекциям и создавать кислотную мантию - барьер для защиты от внешней среды.
			.articles
				.articles__row
					.articles__item.articles__item_wide
						i.articles--icon.articles--icon_blue
							svg(width='20', height='30')
								use(xlink:href='#water')
						span.articles--title Аргановое масло - набор витаминов
						p Натуральный продукт, который получают из плодов Аргании только в Марокко.Занимает наивысшую позицию среди остальных растительных масел, и считается одним из самых востребованных природных средств по уходу за волосами во всем мире.
						.articles-composition
							span.articles-composition--title Состав арганового масла уникален:
							ul.articles-composition__list
								li
									p Витамин F – выступает в роли «проводника» полезных веществ, оберегает кожу головы от сухости, предупреждает образование перхоти и борется с секущимися кончиками волос.
								li
									p Витамин А – незаменимое вещество для здорового роста волос, стимулирует синтез коллагена в коже, регулирует жировые обменные процессы в эпидермисе на клеточном уровне и нормализует скорость регенерации клеток. Отсюда и видимый результат – здоровый блеск волос, их сила и отсутствие перхоти.
								li
									p Витамин Е – защищает волосы от негативного воздействия УФ, активизирует процесс транспортировки кислорода и питательных веществ к волосяным луковицам, восстанавливает волосяную структуру. Этот витамин – мощный антиоксидант, который блокирует выработку свободных радикалов и замедляет процесс старения.
								li
									p Полифенолы – антиоксиданты, которые защищают окрашенные волосы от потери цвета. Они способны запускать процессы реконструкции поврежденных и ослабленных волос.
			.picture
				img.img-cover(src='./pic/picture.jpg', width='1920', height='900', alt='')
			.articles
				.articles__row
					.articles__item
						i.articles--icon.articles--icon_blue
							svg(width='16', height='28')
								use(xlink:href='#e')
						span.articles--title Витамин Е - глубокое #[br] увлажнение тканей
						p Это питательное вещество, которое может использоваться для устранения многих недугов волос. Токоферол обладает хорошими проводящими свойствами и способствует глубокому увлажнению тканей.
						p Благодаря его действию микроэлементы и вытяжки из профессиональных средств лучше и быстрее усваиваются. Он гипоаллергенен и совершенно нетоксичен.
						p Это один из мощнейших антиоксидантов, наряду с магнием и калием. При использовании у прядей восстанавливается кератин, это помогает даже для лечения сильно поврежденных локонов.
						p Под воздействием токоферола нормализуется работа сальных желез, что помогает для избавления от перхоти и нормализации типа волос.
					.articles__item
						i.articles--icon.articles--icon_blue
							svg(width='34', height='32')
								use(xlink:href='#leaf')
						span.articles--title Растительный протеин - строительный материал для волос
						p Это строительный материал для волос, молекулы которого способны проникнуть под чешуйки волоса в места с потерянным белком и заполнить эти пробелы. Все специалисты утверждают, что волос не в состоянии взять в себя протеина больше, чем ему необходимо, что делает его применение универсальным и безопасным (полное исключение передозировок).
						p Растительные протеины восстанавливают волоски изнутри, облегчают расчёсывание, придают блеск, объем, здоровый и ухоженный вид. Они хорошо укрепляют волос, проникая в него и заполняя собой пустоты. Так же помогают поддерживать нормальный уровень увлажнения и снижают электризуемость.
						p Протеины целесообразно применять в отношении значительно поврежденных, безжизненных, тусклых и истощенных прядей.
			.articles
				.articles__row
					.articles__item.articles__item_wide
						i.articles--icon.articles--icon_blue
							include img/molecule-3-icon.svg
						span.articles--title Креатин - природный белок
						p Это природный белок, из которого почти полностью состоят волосы. От состояния кератина и его кол-ва зависят прочность локонов, их внешний вид и скорость роста волос. Под воздействием высоких температур (фена, утюжка, завивки) и химического влияния прочность кератина снижается. Вещество способно восстанавливать и защищать наши волоски, сделать их гладкими, красивыми, поэтому очень важно восполнять его недостаток.
						p Кератиновый уход за волосами необходим для восстановления их структуры изнутри. Молекулы вещества проникают глубоко внутрь волосяного покрова, заполняя межклеточное пространство и микротрещины, возвращая ему упругость, силу и блеск. #[br] Кроме того, кератин увлажняет волосы, задерживая влагу внутри, препятствует сечению кончиков, обеспечивает эластичность, участвует в выработке коллагена.
			.other
				.other--bg
					img(src='./pic/other-ombrage.jpg', width='1180', height='480', alt='')
				.other__row
					span.other--title.other--title_blue Другие товары коллекции #[span OMBRAGE - Для окрашеных волос]
			.grid
				.grid__row(data-ratio='1.5594')
					.grid__item
						.item-card
							span.item-card--title Balm
							.item-card--pic.scale
								img.img-cover(src='./pic/catalog-1.jpg', width='480', height='749', alt='')
							span.item-card--price 2890 р.
							button.button.button_basket.button_small.button_blue(data-add)
					.grid__item
						.item-card
							span.item-card--title Balm
							.item-card--pic.scale
								img.img-cover(src='./pic/catalog-2.jpg', width='480', height='749', alt='')
							span.item-card--price 2890 р.
							button.button.button_basket.button_small.button_blue(data-add)
					.grid__item
						.item-card
							span.item-card--title Balm
							.item-card--pic.scale
								img.img-cover(src='./pic/catalog-4.jpg', width='480', height='749', alt='')
							span.item-card--price 2890 р.
							button.button.button_basket.button_small.button_blue(data-add)
					.grid__controls
						button.button.button_blue.button_basket.item-card--button(data-add) Купить весь набор
		include modules/footer.pug
		script(src='./js/libs.js')
		script(src='./js/scripts.js')